* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin-top: 10em;
}

hr{
  padding: 0;
}

.section{
  font-size: 15px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 25%;
  padding-left: 25%;
}

h1 h2 h3 h4 h5 h6{
  color: #909590;
  font-family: "Microsoft Himalaya", sans-serif;
}

p{
  color: #C0C2C0;
  font-family: "Comic Sans MS", sans-serif;
  text-align: left;
}

.collapse{
  text-align: left;
  width:50%;
  color: #BCBCBC;
  border: .1em solid;
  border-collapse: collapse;
}

tr, td, th{
  border: .1em solid;
  padding-right: .5em;
  padding-left: .5em;
}

.Form{
  color: #9D9D9D;
  font-family: "Helvetica", sans-serif;
  text-align: left;
  display: inline-block;
}

label{
  padding-left: .1em;
}

.Form-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

label.segment{
  padding-left: 1em;
}

.Hobby-container{
  display: flex;
  flex-direction: column;
}

