* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body, html, #root {
  height: 100%;
  width: 100%;
}

.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  margin-top: 50px;
}

.Title-h1{
  color: lightcoral;
  font-family: "Microsoft Himalaya", sans-serif;
}

.Intro-p{
  color: lightpink;
  font-family: "Comic Sans MS", sans-serif;
  text-align: left;
}

.Table-important-cell{
  color : seagreen;
  font-family: "Comic Sans MS", sans-serif;
  text-align: left;
  border: 1px solid lightseagreen;
  border-collapse: collapse;
  display: inline-block;
}

.Table-cell{
  color : lightseagreen;
  font-family: "Comic Sans MS", sans-serif;
  text-align: left;
  border: 1px solid lightseagreen;
  border-collapse: collapse;
  display: inline-block;
}

.Table-empty-cell{
  display: inline-block;
}

.Table-row{
  display: flex;
}